html {overflow: -moz-scrollbars-vertical;}

h1, h2, p, label, input {
    text-align: center;
}

body {
	background: #ffd5a5;
    display: flex;
    flex-direction: column;
    justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    text-align: center;
    align-items: center;
    max-width: 80%; 
    margin: auto;
    height: 100%;
}

div {
    padding: 15px;
    margin-bottom: 7px;
}

.group-label-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px auto;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px auto;
    margin-bottom: 5px auto;
}

input[type="submit"] {
    align-items:center;
}

.page{
  padding-top: 10%;
}


.button-74 {
  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}