html {overflow: -moz-scrollbars-vertical;}

h1, h2, p, label, input {
    text-align: center;
}

body {
	background: #f8078c;
    display: flex;
    flex-direction: column;
    justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    text-align: center;
    align-items: center;
    max-width: 80%; 
    margin: auto;
    height: 100%;
}

div {
    padding: 15px;
    margin-bottom: 7px;
}

.group-label-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px auto;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px auto;
    margin-bottom: 5px auto;
}

input[type="submit"] {
    align-items:center;
}

.page{
  padding-top: 10%;
}

/* Page background colour*/
.ly-bg{
  background-color: #e2e1d6;
}

.custom-navbar{
  height: 80px;
  background-color: #62929E;
}

/* Nav bar items*/
.nav-item{
  border: 1.5px solid #374b5c;
  margin: 5px;
  border-radius: 8px;
}

.nav-item:active {
  box-shadow: #374b5c 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.nav-item.active {
  color: white;
  background: #374b5c;
  margin: 5px;
  border-radius: 8px;
}

.login-button {
  background-color: #ecece7;
  border: 2px solid #374b5c;
  border-radius: 30px;
  box-shadow: #374b5c 4px 4px 0 0;
  color: #374b5c;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:hover {
  background-color: #fff;
}

.login-button:active {
  box-shadow: #4A4E69 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .login-button {
    min-width: 120px;
    padding: 0 25px;
  }

}