html {overflow: -moz-scrollbars-vertical;}

h1, h2, p, label, input {
    text-align: center;
}

body {
	background: #f8078c;
    display: flex;
    flex-direction: column;
    justify-content: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
    text-align: center;
    align-items: center;
    max-width: 80%; 
    margin: auto;
    height: 100%;
}

div {
    padding: 15px;
    margin-bottom: 7px;
}

.group-label-input {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

label {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 5px auto;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 10px auto;
    margin-bottom: 5px auto;
}

input[type="submit"] {
    align-items:center;
}

.page{
  padding-top: 10%;
}

/* Page background colour*/
.ly-bg{
  background-color: #dcdbd0;
}

.custom-navbar{
  height: 80px;
  background-color: #62929E;
}

img{
  max-width: 100%;
  height: auto;
  text-align: right;
  display: block; 
  margin: 0 auto;
}

/* Style for the custom file upload button */
.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

/* Style for the custom file upload button on hover */
.custom-file-upload:hover {
  background-color: #45a049;
}

.form-container {
  flex: 3; /* Use flexbox to make the form container grow and take up remaining space */
  padding: 20px; /* Optional: Add padding for spacing */
}

/* CSS for the image container */
.image-container {
  flex: 2; /* Use flexbox to make the image container grow and take up remaining space */
  padding: 20px; /* Optional: Add padding for spacing */
}

.login-button {
  background-color: #ecece7;
  border: 2px solid #374b5c;
  border-radius: 30px;
  box-shadow: #374b5c 4px 4px 0 0;
  color: #374b5c;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button:hover {
  background-color: #fff;
}

.login-button:active {
  box-shadow: #4A4E69 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .login-button {
    min-width: 120px;
    padding: 0 25px;
  }

}