{% extends "base.html" %}

{% block title %} Browse {% endblock %}

{% block content %}
<div class="welcome row justify-content-center">Welcome!<i class="fa fa-snowflake-o"></i></div>
    <section class="search-area">
        <!-- Input Ingredients -->
        <div class="input-group search-form ">
            <label for="search" class="question-label">What type of clothings are you looking for?</label>
            <select id="clothing-select">
                {% for clothing in droplst %}
                <option value="{{ clothing }}">{{ clothing }}</option>
                {% endfor %}
            </select>
            
            <p><span id="clothing-fruit"></span></p>
        </div>
        <!-- CHIPS -->
        <div id="chips">
            <!-- chips are dynamically added through input.js-->
            {% for i in ingredients%}  <!-- re-creates chips after page reset from post request--> 
            <div class="chip">
                <span>{{i}}</span>
                <button class="chip-x" aria-label="Remove tag"><i class="fa-solid fa-x fa-xs"></i></button>
            </div>
            {% endfor %}
        </div>
        <button type="button" id="submit" class="login-button">Find clothings!</button>
    </section>
</div>
{% endblock %}