{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<div class="welcome">Welcome!<i class="fa fa-snowflake-o"></i></div>
    <section class="search-area">
        <!-- Input clothing info -->
        <form class=" search-form" action="/upload-image" method="POST" enctype="multipart/form-data">
            <label for="search" class="question-label">What are you looking to donate?</label>
            <input type="text" class="form-control rounded" name="search" id="search" placeholder="ex. socks">
            <br><br>
            <div class="form-group">
                      <label>Select image</label>
                      <div class="custom-file">
                        <input type="file" class="custom-file-input" name="image" id="image">
                        <label class="custom-file-label" for="image">Select image...</label>
                      </div>
                    </div>
            <button type="submit" class="btn btn-colour">Submit Clothing</button>
        </form>
    </section>
</div>
{% endblock %}