{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}
<div class="welcome">Welcome!<i class="fa fa-snowflake-o"></i></div>
<div class="search-area row">
    <!-- Form -->
    <div class="form-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="search" class="question-label">What are you looking to donate today?</label>
            <input type="text" class="form-control rounded" name="search" id="search" placeholder="ex. socks">
            <div>
                <label>Select image</label>
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Choose File
                </label>
                <input id="file-upload" type="file" name="file" accept="image/*" style="display: none;">
                <input type="submit" class="btn login-button" value="Upload">
            </div>
        </form>
    </div>
    <!-- Uploaded Image -->
    <div class="image-container">
        {% if filename %}
        <img src="{{ url_for('display_image', filename=filename) }}" alt="Uploaded Image">
        {% endif %}
    </div>
</div>
{% endblock %}