{% extends "base.html" %}

{% block title %} About {% endblock %}

{% block content %}

<div class="search-area row">
    <!-- Form -->
    <div class="form-container">
        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="search" class="question-label">What are you looking to donate today?</label>
            <select id="clothing-select" name="file-upload"> <!-- Added name attribute -->
                {% for clothing in droplst %}
                <option value="{{ clothing }}">{{ clothing }}</option>
                {% endfor %}
            </select>
            
            <p><span id="clothing-fruit"></span></p>
            <div>
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Choose File
                </label>
                <input id="file-upload" type="file" name="file" accept="image/*" style="display: none;">
                <input type="submit" class="btn btn-white" value="Upload"> <!-- Moved inside the form -->
                <button type="button" class="confirm-button" id="Confirm">Confirm</button> <!-- Moved inside the form -->
            </div>
        </form>
    </div>
    <!-- Uploaded Image -->
    <div class="image-container" {% if filename %}style="border: 10px solid #374b5c;"{% endif %}>
        {% if filename %}
        <img src="{{ url_for('display_image', filename=filename) }}" alt="Uploaded Image">
        {% endif %}
    </div>
</div><br>
{% endblock %}